.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 5%;
  }
  

.card {
    width: 30%;
    background-color: transparent;
    padding: 20px;
    border: solid 1px lightgray;
    border-radius: 8px;
    text-align: center;
  }