.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: space-between;
    padding: 5%;
  }
  
.listItem{
  display: contents;
}

.card {
  display: flex;
  flex-direction: column;
  /* flex: 0 0 calc(50% - 20px); */
  align-items: center;
  position: relative;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 100px 20px 30px 20px;
  border: solid 1px lightgray;
  border-radius: 8px;
  text-align: center;
  transition: all .5s ease-in-out;
  }

  .card:hover{
    transform: scale(1.05);
  }

  .image{
    position: absolute;
    top: -50px;
    object-fit: cover;
    object-position: top;
    box-shadow: 5px 5px 10px gray;
    border-radius: 100%;
  }