.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100vw;
    opacity: 30%;
}

.navLink{
    color: black;
}